@model BwinoTips.WebUI.Models.Exclusive.TipStatusViewModel
@{
    ViewBag.Title = "Tip Status";
    string action, cancel_url, buttonText, instr, glyph;
    bool isAdmin = PageData["isAdmin"];

    cancel_url = Url.Action("Show", new { ExclusiveTipId = Model.ExclusiveTipId });
    action = "UpdateTipStatus";
    buttonText = "Update Tip";
    instr = "Modify the details and click Update to apply changes";
    glyph = "fa fa-thumbs-up";
    ViewBag.Title = "Update League";
}

<div class="col-md-12 col-lg-12">
    <div class="card mb-4">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h6 class="fs-17 font-weight-600 mb-0">@ViewBag.Title</h6>
                </div>

            </div>
        </div>
        <div class="card-body">
            <div class="skin-flat">
                <div class="row">
                    <div class="col-sm-12">

                      @using (var f = Html.Bootstrap().Begin(new Form(action, "ExclusiveTip").FormMethod(FormMethod.Post)))
                      {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.ExclusiveTipId)
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                <div class="font-weight-600">
                                    @f.FormGroup().DropDownListFromEnumFor(p => p.Status).Class("form-control").Label().HtmlAttributes(new { required = "" })
                                </div>
                            </div>


                            <button type="submit" class="btn btn-success btn-block">@buttonText</button>
                        }


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


