@model BwinoTips.WebUI.Models.Users.UserRolesViewModel
@{
    ViewBag.Title = "Roles";
    SelectList roles = new SelectList(Model.RoleList.Select(x => new KeyValuePair<string, string>(x, x)), "Key", "Value");
}

 <!--Inner Banner Start-->
<div class="sub-banner rgb-overlay theme-border">
    <div class="container">
        <h3>@ViewBag.Title</h3>

        <ul class="breadcrumb">
            <li class="item-home">

                @Html.Bootstrap().ActionLink("Back", "Index", "Users").HtmlAttributes(new { title = "Homepage", @class = "bread-link bread-home" })
            </li>
        </ul>

    </div>
</div>
<!--Inner Banner End-->

<div class="rgb-content-wrap">
    <!--Blog Detail Page Start-->
    <section class="contactus-page">
        <div class="container">
            <div class="row">

                <div class="col-md-offset-2 col-md-8">

                    <h5> Update the Roles for @Model.User.FullName</h5>

                    <hr />

                    @using (var f = Html.Bootstrap().Begin(new Form()))
                    {
                        <div class="container">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(m => m.UserId)
                            <div class="row">
                                <div class="col-md-5">
                                    <aside class="panel-summary">
                                        <h3>User details</h3>
                                        <dl class="dl-horizontal">
                                            <dt>@Html.DisplayNameFor(m => m.User.FullName)</dt>
                                            <dd>@Model.User.FullName</dd>
                                            <dt>@Html.DisplayNameFor(m => m.CurrentRoles)</dt>
                                            <dd>@Html.DisplayFor(m => m.CurrentRoles)</dd>
                                        </dl>
                                    </aside>
                                </div>
                                <div class="col-md-6 col-md-offset-1">
                                    <div class="form-light-bg">
                                        <h3 class="form-heading">Edit roles</h3>
                                        <div class="form-group">
                                            @Html.EditorFor(m => m.NewRoles, additionalViewData: new { list = roles })
                                        </div>
                                        <div class="form-submit">
                                            @Html.Bootstrap().SubmitButton().Style(ButtonStyle.Default).ButtonBlock().Text("Update").AppendIcon("glyphicon glyphicon-thumbs-up")
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>

            </div>
        </div>
    </section>
</div>
