
@{

}

<div class="form-light-bg form-container">
    <div class="row">
        @Html.Hidden("productid")
        <div class="col-md-6">
            <fieldset>
                @Html.Bootstrap().TextBox("Item").Placeholder("Search item here")
            </fieldset>
        </div>
        <div class="col-md-4">
            <fieldset>
                @Html.Bootstrap().TextBox("UnitPx")
            </fieldset>
        </div>
        <div class="col-md-2">
            <fieldset>
                @Html.Bootstrap().TextBox("Qty").HtmlAttributes(new { type = "number" })
            </fieldset>
        </div>
    </div>
    <div>
        @Html.Bootstrap().SubmitButton().Style(TwitterBootstrap3.ButtonStyle.Default).ButtonBlock().Text("Add Item").AppendIcon("glyphicon glyphicon-plus").Id("submitbtn")
    </div>
</div>


@*<script language="javascript" type="text/javascript">
            $(function() {
                $("form").submit(function (e) {
                    $("#wait").css("display", "block");
                    $.post($(this).attr("action"),
                            $(this).serialize(),
                            function(data) {
                                $("#myBody").append(data);

                    });
                    $("#wait").css("display", "none");
                    e.preventDefault();

                });
            });
    </script>*@