<!--Main Banner Start-->
<div class="main-banner">
    <!--Banner Slide Wrap Start-->
    <ul class="slider-for2 ">
        <li>
            <!--Banner Thumb START-->
            <a href="" data-rel="prettyphoto[]">
                <img class="mySlides" src="@Url.Content("~/Content/coreAssets/images/banner/banner1.jpg")" alt="">
                <img class="mySlides" src="@Url.Content("~/Content/coreAssets/images/banner/banner4.jpg")" alt="">
                <img class="mySlides" src="@Url.Content("~/Content/coreAssets/images/banner/banner5.jpg")" alt="">
                <img class="mySlides" src="@Url.Content("~/Content/coreAssets/images/banner/banner6.jpg")" alt="">
                <img class="mySlides" src="@Url.Content("~/Content/coreAssets/images/banner/banner7.jpg")" alt="">
                <img class="mySlides" src="@Url.Content("~/Content/coreAssets/images/banner/banner8.jpg")" alt="">
                <img class="mySlides" src="@Url.Content("~/Content/coreAssets/images/banner/banner9.jpg")" alt="">
                <img class="mySlides" src="@Url.Content("~/Content/coreAssets/images/banner/banner10.jpg")" alt="">
                <img class="mySlides" src="@Url.Content("~/Content/coreAssets/images/banner/banner11.jpg")" alt="">
                <img class="mySlides" src="@Url.Content("~/Content/coreAssets/images/banner/banner12.jpg")" alt="">
                <img class="mySlides" src="@Url.Content("~/Content/coreAssets/images/banner/banner13.jpg")" alt="">
                <img class="mySlides" src="@Url.Content("~/Content/coreAssets/images/banner/banner14.jpg")" alt="">
                <img class="mySlides" src="@Url.Content("~/Content/coreAssets/images/banner/banner15.jpg")" alt="">
                <img class="mySlides" src="@Url.Content("~/Content/coreAssets/images/banner/banner16.jpg")" alt="">
                <img class="mySlides" src="@Url.Content("~/Content/coreAssets/images/banner/banner17.jpg")" alt="">
                <img class="mySlides" src="@Url.Content("~/Content/coreAssets/images/banner/banner18.jpg")" alt="">
                <img class="mySlides" src="@Url.Content("~/Content/coreAssets/images/banner/banner19.jpg")" alt="">
                <img class="mySlides" src="@Url.Content("~/Content/coreAssets/images/banner/banner20.jpg")" alt="">
               
                <div class="kode-caption-wrapper position-left">
                    <div class="kode-caption-inner container">
                        <div class="kode-caption border-top">
                            <div class="kode-caption-title">Welcome to @Settings.COMPANY_NAME</div>
                            <div class="kode-caption-text"></div>                     
                            <div><strong style="font-size:28px; color:yellow;">Football tips for all major leagues and competitions.</strong></div>
                            <div class="kode_btn_store_1 theme-color" style="color:white; font-size:24px;">Improve your betting with our expert football BwinoTips.</div>
                            <br />
                            @*<marquee behavior="scroll" direction="left" scrollamount="5">
                                <strong style="color:white;">BECOME A MEMBER TODAY AND RECEIVE A 3 DAY TRIAL PERIOD.</strong>
                            </marquee>*@

                         </div>
                    </div>
                </div>
            </a>
            <!--Banner Thumb End-->
        </li>

    </ul>
    <!--Banner Slide Wrap End-->
    <!--Banner Slide Navigation Wrap Start-->
    <ul class="slider-nav2">
       
        <li>
          
            <!--Banner Thumb  Start-->
            <div class="banner-thumb">
                <div class="text">
                    <h5><a href="">INTELLIGENT TIPS</a></h5>
                    <span class="rgb-date"><i class="lnr lnr-star"></i>With daily tips across 25+ different leagues explained by our expert football BwinoTips you’ll always know what to bet on.</span>
                </div>
            </div>
            <!--Banner Thumb  End-->
           
        </li>

        <li>

            <!--Banner Thumb  Start-->
            <div class="banner-thumb">
                <div class="text">
                    <h5><a href="">LATEST TEAM NEWS</a></h5>
                    <span class="rgb-date"><i class="lnr lnr-thumbs-up"></i>We work with experts around the world to get you access to team news other places can't.</span>
                </div>
            </div>
            <!--Banner Thumb  End-->

        </li>

        <li>

            <!--Banner Thumb  Start-->
            <div class="banner-thumb">
                <div class="text">
                    <h5><a href="">LARGE COMMUNITY</a></h5>
                    <span class="rgb-date"><i class="lnr lnr-earth"></i>We have a large community of football bettors eager to provide their own tips to help you make the best choices.</span>
                </div>
            </div>
            <!--Banner Thumb  End-->

        </li>

            

        @*<li>
            <!--Banner Thumb  Start-->
            <div class="banner-thumb">
                <div class="text">
                    <h5><a href="#">BETWAY KOBS V Stanbic Black Pirates. Top billing on Women’s Day as a title decider.</a></h5>
                    <span class="rgb-date"><i class="lnr lnr-clock"></i>8/03/2019</span>
                </div>
            </div>
            <!--Banner Thumb  End-->
        </li>
        <li>
            <!--Banner Thumb  Start-->
            <div class="banner-thumb">
                <div class="text">
                    <h5><a href="#">Toyota Buffaloes V BETWAY KOBS. Match day 16 at Kyadondo Rugby Club</a></h5>
                    <span class="rgb-date"><i class="lnr lnr-clock"></i> 2/3/2019</span>
                </div>
            </div>
            <!--Banner Thumb  End-->
        </li>
        <li>
            <!--Banner Thumb  Start-->
            <div class="banner-thumb">
                <div class="text">
                    <h5><a href="#">BETWAY KOBS VS Plascon Mongers. Expected to be a tricky but winnable fixture.</a></h5>
                    <span class="rgb-date"><i class="lnr lnr-clock"></i>23/2/2019</span>
                </div>
            </div>
            <!--Banner Thumb  End-->
        </li>*@
    </ul>
    <!--Banner Slide Navigation Wrap End-->
</div>
<!--Main Banner End-->

@Html.Action("GetMatches", "Home")