@model BwinoTips.Domain.Entities.Registration

<div class="col-md-12">

    <div class="rgb-contact-wrap margin-bottom30">
        <!--<div class="col-md-4">
            --Map Start
            <div id="map-canvas"></div>
            <!--Map End
        </div>-->
        <div class="col-md-12">
            <!--Contact Contant Start-->
            <div class="rgb-contact-contant rgb-white-style">
                <h5>Registration Details</h5>
               
                <ul class="contact-meta-list">
                    <li><i class="fa fa-home">@Html.DisplayNameFor(m => m.FullName): </i><em>@Model.FullName</em></li>
                    <li><i class="fa fa-handshake-o">@Html.DisplayNameFor(m => m.Tel): </i><em>@Model.Tel</em></li>
                    <li><i class="lnr lnr-checkmark-circle">@Html.DisplayNameFor(m => m.RegStatus): </i><em>@Model.RegStatus</em></li>  
                    <li><i class="fa fa-futbol-o">@Html.DisplayNameFor(m => m.Date): </i><em>@Model.Date</em></li>
                    <li><i class="lnr lnr-flag">@Html.DisplayNameFor(m => m.Email): </i><em>@Model.Email</em></li>
                </ul>


            </div>
            <!--Contact Contant End-->
        </div>
    </div>

</div>

  
