@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_Console.cshtml";
    string companyName = Settings.COMPANY_NAME;
}

@*<div class="jumbotron">
    <div class="container">
        <h1>@ViewBag.Title</h1>
        <p>
            Please check your email to reset your password.
        </p>
        <p>
            @Html.Bootstrap().ActionLinkButton("Return to Login", "Login").Style(ButtonStyle.Primary)
        </p>
    </div>
</div>*@

<div class="login-page">
    <div class="login-form">
        <div class="text-center">
            @*<img src="~/Content/Imgs/logo.png" class="login-logo" alt="@companyName" />*@
            <h1>@Settings.COMPANY_NAME</h1>
        </div>
        <div class="login-text">Please check your email to reset your password:</div>
        <div class="form-dark-bg">
            @Html.Bootstrap().ActionLink("Back to login", "Index", "Home").AppendIcon("fa fa-sign-in")
        </div>
    </div>
</div>
	
