@model BwinoTips.WebUI.Models.Account.ResetPasswordViewModel
@{
    ViewBag.Title = Model.Verb + " your password";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string companyName = Settings.COMPANY_NAME;
    string instr = "Enter your email address and a new password into the form below and click Change Password to apply changes";
}

<!--Inner Banner Start-->
<div class="sub-banner rgb-overlay theme-border">
    <div class="container">
        <h3>@ViewBag.Title</h3>

    </div>
</div>
<!--Inner Banner End-->


<div class="rgb-contact-contant rgb-white-style">
    <div class="page-header">
        <div class="container">
            <h1>@instr</h1>

        </div>
    </div>
</div>

<div class="rgb-content-wrap">
    <!--Blog Detail Page Start-->
    <section class="contactus-page">
        <div class="container">
            <div class="row">

                <div class="col-md-offset-2 col-md-8">

                    @using (Html.BeginForm())
                      {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="col-md-12">

                            <div class="col-md-4">

                                @Html.Bootstrap().TextBoxFor(m => m.PhoneNumber).Placeholder("Enter your Phone Number").PrependIcon("fa fa-phone").ShowValidationMessage(true).HtmlAttributes(new { type = "email", required = "" })

                            </div>

                            <div class="col-md-4">

                                @Html.Bootstrap().PasswordFor(m => m.Password).Placeholder("Enter new password").PrependIcon("fa fa-key").HtmlAttributes(new { autocomplete = "off", type = "password", required = "" }).ShowValidationMessage(true)

                            </div>

                            <div class="col-md-4" style="margin-bottom:30px;">

                                @Html.Bootstrap().PasswordFor(m => m.ConfirmPassword).Placeholder("Confirm new password").PrependIcon("fa fa-key").HtmlAttributes(new { autocomplete = "off", type = "password", required = "" }).ShowValidationMessage(true)

                                <div class="clear"></div>
                            </div>

                        </div>

                        <div class="form-submit">
                            <div class="col-md-3">
                                <button class="default-button submit btn-1 theme-background" type="submit">@Model.Verb Password</button>
                                @*@Html.Bootstrap().SubmitButton().ButtonBlock().Text(Model.Verb + " Password").Class("default-button submit btn-1 theme-background")*@
                            </div>

                        </div>


                    }


                </div>

            </div>
        </div>
    </section>
</div>


@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
}
