@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "~/Views/Shared/_Console.cshtml";
    string companyName = Settings.COMPANY_NAME;
}

@*<div class="jumbotron">
    <div class="container">
        <h1>@ViewBag.Title</h1>
        <p>
            Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</div>*@
<div class="login-page">
    <div class="login-form">
        <div class="text-center">
            @*<img src="~/Content/Imgs/logo.png" class="login-logo" alt="@companyName" />*@
            <h1>@Settings.COMPANY_NAME</h1>
        </div>
        <div class="login-text">Your password has been reset</div>
        <div class="form-dark-bg">
            @Html.Bootstrap().ActionLink("Go to login", "Index", "Home").AppendIcon("fa fa-sign-in")
        </div>
    </div>
</div>
