@model BwinoTips.Domain.Entities.ApplicationUser
@{ 
    var helper = new BwinoTips.WebUI.Infrastructure.Helpers.UserHelper(Model);
    string[] roles = helper.GetUserRoles();
   
}

<aside class="panel-summary">
    <h3>Account details</h3>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(m => m.DisplayId)</dt>
        <dd>@Model.UserId()</dd>
        <dt>@Html.DisplayNameFor(m => m.FullName)</dt>
        <dd>@Model.FullName</dd>       
        @*@if (!roles.Contains("Admin")) {
        <dt>@Html.DisplayNameFor(m => m.DOB)</dt>
        <dd>@InputHelper.ParseDate(Model.DOB)</dd>
        }*@
        <dt>Telephone No</dt>
        <dd>@Model.PhoneNumber</dd>
        <dt>@Html.DisplayNameFor(m => m.Email)</dt>
        <dd>@Html.EmailLink(Model.Email)</dd>
        <dt>@Html.DisplayNameFor(m => m.Roles)</dt>
        <dd>@Html.ParseList(roles, "list-unstyled")</dd>
        <dt>Activated?</dt>
        <dd>@InputHelper.ParseBool(Model.EmailConfirmed)</dd>
    </dl>
</aside>


