@model BwinoTips.WebUI.Models.Free.TipStatusViewModel
@{
    ViewBag.Title = "Tip Status";
    string action, cancel_url, buttonText, instr, glyph;
    bool isAdmin = PageData["isAdmin"];

    cancel_url = Url.Action("Show", new { FreeTipId = Model.FreeTipId });
    action = "UpdateTipStatus";
    buttonText = "Update Tip";
    instr = "Modify the details and click Update to apply changes";
    glyph = "fa fa-thumbs-up";
    ViewBag.Title = "Update Status";
}

<!-- post wraper start-->
<section class="body-color">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <div class="contact-box ts-grid-box">
                    <h3>@ViewBag.Title</h3>

                    <div class="text-right">
                        <h4>@Html.Bootstrap().ActionLink("Back", "Index", "FreeTip").HtmlAttributes(new { title = "Homepage", @class = "" })</h4>
                    </div>


                    @using (var f = Html.Bootstrap().Begin(new Form(action, "FreeTip").FormMethod(FormMethod.Post)))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.FreeTipId)
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="row">
                            <div class="col-md-6">
                                @Html.Bootstrap().RadioButtonsFromEnumFor(p => p.Status)
                            </div>

                            <div class="col-md-6">
                                <button class="btn btn-primary solid blank" type="submit">@buttonText</button><span><i @glyph></i></span>
                            </div>
                        </div>                                   
                        
                    }

                </div><!-- grid box end -->
            </div>
            <!-- col end-->
            <!-- col end-->


        </div>
        <!-- row end-->
    </div>
    <!-- container end-->
</section>
<!-- post wraper end-->
