@{
    string companyName = Settings.COMPANY_NAME;
    string subNavLabel = ViewBag.SubNavLabel ?? "Actions";
    bool isAuthenticated = (User.Identity.IsAuthenticated);
    bool isAdmin = (isAuthenticated) && (PageData["isAdmin"]);
    bool isMember = (isAuthenticated) && (PageData["isMember"]);
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Html.Partial("Layout/_Head")
    @RenderSection("Header", required: false)
</head>

<body class="fixed">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">          
            <div class="preloader">              
                <div class="spinner-layer pl-yellow">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->

    <div class="wrapper">

        <!-- Sidebar  -->
        <nav class="sidebar sidebar-bunker">

         
            <div class="sidebar-header">
                <!--<a href="index.html" class="logo"><span>bd</span>task</a>-->
               <a href="" class="logo"><img src="~/Content/coreAssets/dist/img/logo/logo.png" alt=""></a>
            </div><!--/.sidebar header-->
     
          <br /><hr />

            <div class="sidebar-body">
                <nav class="sidebar-nav">
                    <ul class="metismenu">

                        <li class="nav-label">Main Menu</li>

                        @if (isAdmin)
                         {
                            @Html.Partial("Layout/_NavAdmin")

                        }
                        else if (isMember)
                        {

                            @Html.Partial("Layout/_NavMember")

                        }
                        else
                        {

                            @Html.Partial("Layout/_NavPublic")
                        }


                    </ul>
                </nav>
            </div><!-- sidebar-body -->
        </nav>
        <!-- Sidebar End -->

        <!-- Page Content  -->
        <div class="content-wrapper">
            <!--Main content -->
            <div class="main-content">
                <nav class="navbar-custom-menu navbar navbar-expand-lg m-0">
                    <div class="sidebar-toggle-icon" id="sidebarCollapse">
                        sidebar toggle<span></span>
                    </div><!--/.sidebar toggle icon-->
                    <div class="d-flex flex-grow-1">
                        <ul class="navbar-nav flex-row align-items-center ml-auto">
                      
                            @if (isAdmin || isMember)
                            {
                                <li class="nav-item dropdown user-menu">
                                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                                        <!--<img src="assets/dist/img/user2-160x160.png" alt="">-->
                                        <i class="fa fa-user"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <div class="dropdown-header d-sm-none">
                                            <a href="#" class="header-arrow"><i class="icon ion-md-arrow-back"></i></a>
                                        </div>
                                        <div class="user-header">
                                            <div class="img-user">
                                                <img src="~/Content/coreAssets/dist/img/avatar/celeb.png" alt="">
                                            </div>
                                        <!-- img-user -->
                                            <h6>@Html.Action("GetLoginName", "Account")</h6>
                                          
                                        </div><!-- user-header -->                                        
                                        @Html.Bootstrap().ActionLink("Account ", "ChangePwd", "Account").PrependIcon("fa fa-lock").Class("dropdown-item")
                                        
                                        @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <a href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-item"><i class="fa fa-power-off"></i>Sign Out</a>
                                        }

                                    </div><!--/.dropdown-menu -->
                                </li>

                            }
                            else
                            {

                                @*<li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Login", "Account")"><i class="typcn typcn-lock-open-outline"></i></a>
                                </li>*@
                            }                                     
                          
                        </ul><!--/.navbar nav-->
                        <div class="nav-clock">
                            <div class="time">
                                <span class="time-hours"></span>
                                <span class="time-min"></span>
                                <span class="time-sec"></span>
                            </div>
                        </div><!-- nav-clock -->
                    </div>
                </nav><!--/.navbar-->

                <!--Content Header (Page header)-->
                <div class="content-header row align-items-center m-0">
                    <nav aria-label="breadcrumb" class="col-sm-4 order-sm-last mb-3 mb-sm-0 p-0 ">
                        <ol class="breadcrumb d-inline-flex font-weight-600 fs-13 bg-white mb-0 float-sm-right">
                            @if (isAdmin || isMember)
                            {
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Account")">Dashboard</a></li>
                            }
                            else
                            {
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                            }
                          
                            <li class="breadcrumb-item active">@ViewBag.Title</li>
                        </ol>
                    </nav>
                    <div class="col-sm-8 header-title p-0">
                        <div class="media">
                            @*<div class="header-icon text-success mr-3">                          
                                <img src="~/Content/coreAssets/dist/img/logo/logo.png" alt="" style="height:55px;width:55px;">
                            </div>*@
                            <div class="media-body">
                                <h1 class="font-weight-bold">Welcome To @Settings.COMPANY_NAME</h1>                               
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.Content Header (Page header)--> 

                <div class="body-content">
                    @RenderBody()
                </div>
           </div>
            <!--Main content End-->
            @{
                Html.RenderPartial("Layout/_Footer");
            }
        </div>
            <!-- Page Content End -->


        </div>

    













        @*<div class="body-inner-content">

                @if (isAdmin || isMember)
                {
                    @Html.Partial("Layout/_TopBarAdmin")

                }
                else
                {

                    @Html.Partial("Layout/_TopBarPublic")

                }


                @Html.Action("TopAdBanner", "Home")


                <!-- header nav start-->
                <header class="header-standerd">
                    <div class="container">
                        <div class="row">

                            <!-- logo end-->
                            <div class="col-lg-12">
                                <!--nav top end-->
                                <nav class="navigation ts-main-menu navigation-landscape">
                                    <div class="nav-header">
                                        <a class="nav-brand mobile-logo visible-xs" href="">
                                            <!-- <img src="images/footer_logo.png" alt=""> -->
                                        </a>
                                        <div class="nav-toggle"></div>
                                    </div>
                                    <!--nav brand end-->

                                    <div class="nav-menus-wrapper clearfix">


                                        <!-- nav menu start-->
                                        <ul class="nav-menu">

                                            @if (isAdmin)
                                            {
                                                @Html.Partial("Layout/_NavAdmin")

                                            }
                                            else if (isMember)
                                            {

                                                @Html.Partial("Layout/_NavMember")

                                            }
                                            else
                                            {

                                                @Html.Partial("Layout/_NavPublic")
                                            }


                                        </ul>
                                        <!--nav menu end-->
                                    </div>
                                </nav>
                                <!-- nav end-->
                            </div>
                        </div>
                    </div>
                </header>
                <!-- header nav end-->
                <!--Main Content Start-->

                <main>
                    @RenderBody()
                </main>

                <!--Main Content End-->


                @{
                    Html.RenderPartial("Layout/_Footer");
                }

            </div>*@

        @Html.Partial("Layout/_Scripts")
        @RenderSection("scripts", required: false)

</body>
</html>
